/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======== end reset style ======= */
.logo {
  float: left;
  padding-left: 30px;
  width: 150px;
}

header {
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid gainsboro;
  overflow: hidden;
}
aside {
  float: left;
  max-width: 250px;
  border-right: 1px solid gainsboro;
}

section {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  background-color: #eeeeee;
}

ul {
  overflow: hidden;
  padding: 0 0% 5% 0%;
  list-style-type: none;
  line-height: 2.4em;
  border-bottom: 1px solid lightgray;
}

li {
  padding-left: 30px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffffff;
  background: #424242;
}

nav {
  text-align: center;
  font-family: Helvetica, san-serif;
  max-width: 100%;
}

div.first1 {
  justify-content: flex-start;
  flex-direction: row;
}

.container {
  margin: auto;
  background: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container2 {
  margin: auto;
  padding-left: 30px;
  border: 1px solid gainsboro;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.videolinks {
  color: #039be5;
  font-weight: bold;
}

.channelinks:hover,
.videolinks:hover {
  color: #039be5;
  background: none;
  text-decoration: underline;
}

div {
  display: block;
}

/* body styles */
body {
  height: 100%;
}

/* header */
header {
  height: 5%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eeeeee;
}

header > div,
nav {
  align-items: center;
  padding: 0 16px;
  width: 100%;
}

.material-icons {
  justify-content: center;
  margin-left: 10px;
}

.menu-left {
  margin-left: 15px;
}

.logo {
  height: 24px;
  width: 129px;
}

.left1 {
  display: flex;
}

.logo img {
  width: 78px;
  margin-top: 3px;
  margin-left: 1px;
}

input {
  width: 100%;
  height: 24px;
}

.search {
  width: 540px;
  justify-content: center;
  margin: 0 40px;
}

form {
  display: flex;
  height: 30px;
}

.button2 {
  height: 2.5em;
  width: 7em;
  background: red;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 500;
}
.button2 {
  margin-left: 350px;
}
.container-form {
  padding: 0px 6px;
  border-radius: 2px 0 0 2px;
  width: 100%;
}

.container-form2 {
  height: 24px;
  background: transparent;
  width: 550px;
}

#container-icon {
  position: relative;
  line-height: 24px;
  vertical-align: top;
  font-size: 16px;
  padding: 0 2px;
  width: 100%;
}

.container-icon2 {
  float: right;
}

.button-right {
  display: flex;
  margin-left: 83px;
  margin-right: 15px;
}

.btn {
  margin: 5px;
}

/*    left-side  */
main {
  display: flex;
  margin-left: 30px;
  height: 88%;
  width: 100%;
}

.video1 {
  width: 800px;
  height: 462px;
  border: 0px;
}

.video2 {
  width: 263px;
  height: 153px;
  border: 0px;
  margin-bottom: 10px;
}

.content-under-video {
  margin-top: 10px;
}

.buttons-under-video {
  display: flex;
  justify-content: space-between;
}

div.video-likes-dislakes {
  color: #eeeeee;
}

.video-likes-dislakes {
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.user-logo {
  border-radius: 50%;
}

.header-description,
.small-video {
  display: flex;
  flex-direction: row;
}

.content {
  width: 680px;
}

/* right side  */
.right-side {
  display: inline-block;
  margin-left: 30px;
}

h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
}

p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
}
