.logo{
	float: left;
	padding-left: 30px;
	width: 150px;
  }
  
  #search{
	float: left;
	padding-top: 5px;
	padding-left: 60px;
  }
  
  #right{
	padding-top: 15px;
	float: right;
	
  }
  
  header{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid gainsboro;
	overflow: hidden;
  }
  
  aside{
	float:left;
	max-width: 250px;
	border-right: 1px solid gainsboro;
  }
  
  section{
	font-family: Roboto, sans-serif;
	font-size: 1.0em;
	background-color: #EEEEEE;
	
  }
  
  .side{
	padding-left: 25px;
	padding-right: 25px;
  }
  
  ul{
	overflow: hidden;
	padding: 0 0% 5% 0%;
	list-style-type: none;
	line-height: 2.4em;
	border-bottom: 1px solid lightgray;
  }
  
  #first{
	background-color: #D32F2F;
	color: white;
  }
  
  li{
	padding-left: 30px;
  }
  
  a{
	display: block;
	text-decoration: none;
	color: black;
  }
  
  a:hover{
	color: #FFFFFF;
	background: #424242;
  }
  
  #title{
	padding-left: 30px;
	font-family: Helvetica, san-serif;
	font-size: .80em;
	font-weight: bold;
	color: #D32F2F;
  }
  
  #bottomsign{
	padding-left: 30px;
	font-family: Helvetica, san-serif;
	line-height: 1.2em;
	font-weight: bold;
  }
  
  .signin{
	margin: 0 30px;
	font-family: Helvetica, san-serif;
	font-size: .90em;
	text-align: center;
  }
  
  .in{
	width: 50px;
	padding: 10px;
	color: white;
	background: #2E86C1;
	border-radius: 5px;
  }
  
  .in:hover{
	background: #2874A6;
  }
  
  nav{
	text-align: center;
	font-family: Helvetica, san-serif;
	max-width: 100%;
  }
  
  #navbar{
	list-style-type: none;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0px;
	line-height: 2.4em;
  }
  
  #navbar li{
	display: inline-block;
  }
  
  #homenav{
	border-bottom: 5px solid crimson;
	color: black;
	font-weight: bold;
  }
  
  #trendnav{
	color:  #6b6b6b;
  }
  
  #homenav,#trendnav:hover{
	border-bottom: 5px solid crimson;
	background: none;
  }
  
  .content{
	padding-top: 30px;
	padding-bottom: 10px;
	display: block;
	margin-left: 250px;
	max-width: 100%;
	background: whitesmoke;
	overflow: hidden;
  }
  
  .container{
	margin: auto;
	padding-left: 30px;
/*max-width: 66%;*/
	border: 1px solid gainsboro;
	background: white;
	overflow: hidden;
  }
  .container2{
	margin: auto;
	padding-left: 30px;
/*max-width: 66%;*/
	border: 1px solid gainsboro;
	background: white;
	overflow: hidden;
  }
  
  .box{
	width: 210px;
	height: 210px;
	padding: 1px;
	margin: auto;
	float:left;
  }
  
  .clear{
	clear: both;
  }
  
  #t2{
	border-top: 1px solid silver;
  }
  
  .videolinks{
	color: #039BE5;
	font-weight: bold;
  }
  
  .channelinks:hover, .videolinks:hover{
	color: #039BE5;
	background: none;
	text-decoration: underline;
  }
  
  .channelinks{
	color: #767676;
  }
  
  .text{
	font-size: .90em;
	color: #767676;
  }
  
  .options{
/*	margin-left: 250px;  */
	border-top: 1px solid gainsboro;
  }
  
  .footbar{
	list-style-type: none;
	border: none;
	padding: 0;
  }
  
  .footbar li{
	display: inline-block;
  }
  
  #footop{
	font-size: .90em;
	padding: 0px 12px;
	border: 1px solid gainsboro;
	border-radius: 2px;
	background: whitesmoke;
  }
  
  #footop:hover{
	color: black;
	background: #EEEEEE;
  }
  
  .flinks1, .flinks2{
	list-style-type: none;
	border: none;
	margin: 0;
	padding: 0;
  }
  
  .flinks1 li{
	display: inline-block;
	font-size: .95em;
	font-weight: bold;
  }
  
  .flinks2 li{
	display: inline-block;
	font-size: .90em;
	color: #777777;
  }
  
  .b1{
	color: black;
  }
  
  .b2{
	color: #777777;
	font-weight: bold;
  }
  
  .b1:hover, .b2:hover{
	text-decoration: underline;
	background: none;
	color: #039BE5;
  }
  
  #signin{
	float: right;
	padding-top: 15px;
	padding-right: 25px;
	font-family: Helvetica, san-serif;
	font-size: .90em;
	text-align: center;
	list-style-type: none;
  }
  div{
	display: block;
	border: 1px solid red;
}
/* body styles */
body {
	background-color: #EEEEEE;
	height: 100%;
}

/* header */
header {
/*	position: fixed; */
height: 5%;
	top: 0;
	left: 0;
	right: 0;
	background-color: #EEEEEE;
} 

header>div,
nav {
	align-items: center;
	padding: 0 16px;
	width: 100%;
}
.container{
	display: flex;
	background: rgb(180, 142, 142);
	height: 80px;
}
.material-icons{
	justify-content: center;
}
.logo{
	height: 24px;
	width: 129px;
}
.logo img{
	width: 78px;
	margin-top: 3px;
	margin-left: 1px;
}
.search{
	width: 455px;
	justify-content: center;
	margin: 0 40px;
}
form {
	display: flex;
	height: 30px;

}
.container-form {
	background-color: red;
	padding: 2px 6px;
	border-radius: 2px 0 0 2px;
	width: 100%;

}
.container-form2 {
	height: 24px;
    background: transparent;
	width: 100%;
}
#container-icon {
	position: relative;
	line-height: 24px;
	vertical-align: top;
	font-size: 16px;
	padding: 0 2px;
	width: 100%;
}
.container-icon2 {
	float: right;
}
.button-right {
	display: flex;
	margin-left: 125px;
}
.btn {
	margin: 5px;
}
/*    left-side  */
main {
	display: flex;
/*	margin-top: 100px; */
    height: 88%;
	width: 100%;
}
.video-likes-dislakes {
	display: flex;
	justify-content: flex-end;
}
.user-logo {
	border-radius: 50%;
}
.header-description,
.small-video {
	display: flex;
	flex-direction: row;
}
.published,
.container-description {
	flex-direction: column;
}
.content {
	width: 680px;
}
.right-side {
	display: inline-block
}
footer {
	height: 7%;
	background-color: #EEEEEE;
}